@if(isMobileTablet()) {
<div class="flex items-center flex-col">
  <div
    class="w-full items-center relative cursor-pointer text-[17px] font-Poppins font-medium text-[#e0e0e0]"
    (click)="toggleCatModal()"
  >
    <div class="flex items-center justify-between h-[40px] px-2">
      <span class="ml-1">Danh Sách</span>
      <i class="fa fa-sort-desc text-[#00dc5a]" aria-hidden="true"></i>
    </div>

    @if(openCatModal) {
    <ul
      class="w-full py-1 px-2 bg-[#1a191f] grid grid-cols-2 sm:grid-cols-3 justify-items-center"
    >
      @for(nav of navItems; track $index){
      <li>
        <a
          [routerLink]="['/danh-sach', nav.slug]"
          [queryParams]="{ page: 1 }"
          class="block text-[14px] sm:text-[16px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] hover:text-[#00dc5a] p-2 text-left"
        >
          {{ nav.name }}
        </a>
      </li>
      }
    </ul>
    }
  </div>

  <div
    class="w-full items-center relative cursor-pointer text-[17px] font-Poppins font-medium text-[#e0e0e0]"
    (click)="toggleGenreModal()"
  >
    <div class="flex items-center justify-between h-[40px] px-2">
      <span class="ml-1">Thể Loại</span>
      <i class="fa fa-sort-desc text-[#00dc5a]" aria-hidden="true"></i>
    </div>

    @if(openGenreModal){
    <ul
      class="w-full py-1 px-2 bg-[#1a191f] grid grid-cols-2 sm:grid-cols-3 justify-items-center"
    >
      @for(genre of genreItems; track $index) {
      <li>
        <a
          [routerLink]="['/the-loai', genre.slug]"
          [queryParams]="{ page: 1 }"
          class="block text-[14px] sm:text-[16px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] hover:text-[#00dc5a] p-2 text-left"
        >
          {{ genre.name }}
        </a>
      </li>
      }
    </ul>
    }
  </div>

  <div
    class="w-full items-center relative cursor-pointer text-[17px] font-Poppins font-medium text-[#e0e0e0]"
    (click)="toggleNationModal()"
  >
    <div class="flex items-center justify-between h-[40px] px-2">
      <span class="ml-1">Quốc Gia</span>
      <i class="fa fa-sort-desc text-[#00dc5a]" aria-hidden="true"></i>
    </div>

    @if(openNationModal) {
    <ul
      class="w-full py-1 px-2 bg-[#1a191f] grid grid-cols-2 sm:grid-cols-3 justify-items-center"
    >
      @for(nation of nationItems; track $index){
      <li>
        <a
          [routerLink]="['/quoc-gia', nation.slug]"
          [queryParams]="{ page: 1 }"
          class="block text-[14px] sm:text-[16px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] hover:text-[#00dc5a] p-2 text-left"
        >
          {{ nation.name }}
        </a>
      </li>
      }
    </ul>
    }
  </div>
</div>
} @else {
<div class="hidden md:block">
  <div class="flex items-center gap-[15px]">
    @for(nav of navItems.slice(0, 5); track $index) {
    <a
      [routerLink]="['/danh-sach', nav.slug]"
      [queryParams]="{ page: 1 }"
      class="hidden xl:block text-[17px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] hover:text-[#00dc5a]"
    >
      {{ nav.name }}
    </a>
    }

    <div
      class="flex xl:hidden items-center relative cursor-pointer text-[17px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] pr-4"
      (click)="toggleCatModal()"
    >
      <span>Danh Sách</span>
      <i
        class="fa fa-sort-desc text-[#00dc5a] absolute top-[2px] right-[-2px]"
        aria-hidden="true"
      ></i>

      @if(openCatModal) {
      <i
        class="fa fa-caret-up"
        aria-hidden="true"
        class="absolute top-[25px] left-[5px] text-[#00dc5a]"
      ></i>
      <ul
        class="absolute top-[32px] left-[0px] w-[350px] py-1 px-2 bg-[#1a191f] grid grid-cols-2 justify-items-center"
        style="
          border-top-color: #00dc5a;
          border-top-width: 3px;
          box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.3),
            0 0 20px rgba(0, 0, 0, 0.5);
        "
      >
        @for(nav of navItems; track $index) {
        <li>
          <a
            [routerLink]="['/danh-sach', nav.slug]"
            [queryParams]="{ page: 1 }"
            class="block text-[16px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] hover:text-[#00dc5a] p-2 text-left"
          >
            {{ nav.name }}
          </a>
        </li>
        }
      </ul>
      }
    </div>

    <div
      class="flex items-center relative cursor-pointer text-[17px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] pr-4"
      (click)="toggleGenreModal()"
    >
      <span>Thể Loại</span>
      <i
        class="fa fa-sort-desc text-[#00dc5a] absolute top-[2px] right-[-2px]"
        aria-hidden="true"
      ></i>

      @if(openGenreModal) {
      <i
        class="fa fa-caret-up"
        aria-hidden="true"
        class="absolute top-[25px] left-[5px] text-[#00dc5a]"
      ></i>
      <ul
        class="absolute top-[32px] left-[0px] w-[350px] py-1 px-2 bg-[#1a191f] grid grid-cols-2 sm:grid-cols-3 justify-items-center"
        style="
          border-top-color: #00dc5a;
          border-top-width: 3px;
          box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.3),
            0 0 20px rgba(0, 0, 0, 0.5);
        "
      >
        @for(genre of genreItems; track $index) {
        <li>
          <a
            [routerLink]="['/the-loai', genre.slug]"
            [queryParams]="{ page: 1 }"
            class="text-[16px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] hover:text-[#00dc5a] p-2 text-left"
          >
            {{ genre.name }}
          </a>
        </li>
        }
      </ul>
      }
    </div>

    <div
      class="flex items-center relative cursor-pointer text-[17px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] pr-4"
      (click)="toggleNationModal()"
    >
      <span>Quốc Gia</span>
      <i
        class="fa fa-sort-desc text-[#00dc5a] absolute top-[2px] right-[-2px]"
        aria-hidden="true"
      ></i>

      @if(openNationModal) {
      <i
        class="fa fa-caret-up"
        aria-hidden="true"
        class="absolute top-[25px] left-[5px] text-[#00dc5a]"
      ></i>
      <ul
        class="absolute top-[32px] left-[0px] w-[420px] py-1 px-2 bg-[#1a191f] grid grid-cols-2 sm:grid-cols-3 justify-items-center"
        style="
          border-top-color: #00dc5a;
          border-top-width: 3px;
          box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.3),
            0 0 20px rgba(0, 0, 0, 0.5);
        "
      >
        @for(nation of nationItems; track $index) {
        <li>
          <a
            [routerLink]="['/quoc-gia', nation.slug]"
            [queryParams]="{ page: 1 }"
            class="text-[16px] font-Poppins font-medium text-[#e0e0e0] drop-shadow-[1px_1px_1px_#000] hover:text-[#00dc5a] p-2 text-left"
          >
            {{ nation.name }}
          </a>
        </li>
        }
      </ul>
      }
    </div>
  </div>
</div>
}
