<footer class="w-full pt-5">
  <div
    class="dark:bg-[#0a0c0f] bg-white border border-[#0000000e] dark:border-[#ffffff1e]"
  >
    <br />
    <div
      class="w-[95%] 800px:w-full 800px:max-w-[85%] mx-auto px-2 ms:px-6 lg-px-8"
    >
      <div class="grid grid-cols-2 gap-8 md:grid-cols-4">
        <div class="space-y-3">
          <h3 class="text-[18px] font-[600] text-black dark:text-white">
            About
          </h3>
          <ul class="space-y-4">
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                About us
              </a>
            </li>
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                Products and Service
              </a>
            </li>
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                Ways to Watch
              </a>
            </li>
          </ul>
        </div>

        <div class="space-y-3">
          <h3 class="text-[18px] font-[600] text-black dark:text-white">
            Cooperation
          </h3>
          <ul class="space-y-4">
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                Advertise
              </a>
            </li>
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                Corporate relations
              </a>
            </li>
          </ul>
        </div>

        <div class="space-y-3">
          <h3 class="text-[18px] font-[600] text-black dark:text-white">
            Help and support
          </h3>
          <ul class="space-y-4">
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                Feedback
              </a>
            </li>
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                Security Response Center
              </a>
            </li>
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                FAQ
              </a>
            </li>
          </ul>
        </div>

        <div class="space-y-3">
          <h3 class="text-[18px] font-[600] text-black dark:text-white">
            Terms of Service
          </h3>
          <ul class="space-y-4">
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                Privacy Policy
              </a>
            </li>
            <li>
              <a
                class="text-[14px] text-black dark:text-gray-300 dark:hover:text-white cursor-pointer"
              >
                Terms of Service
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
  </div>
</footer>
