@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #111319;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

.small-scrollbar::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00dc5a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00dc5a;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  font-weight: 700 !important;
}

.swiper-button-next {
  text-shadow: -3px 0px 4px #000;
}

.swiper-button-prev {
  text-shadow: 3px 0px 4px #000;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
  font-weight: 700 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 40% !important;
  bottom: 10% !important;
}

@media (min-width: 600px) and (max-width: 763px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 37% !important;
    bottom: 10% !important;
  }
}

@media (min-width: 470px) and (max-width: 599px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 35% !important;
    bottom: 6% !important;
  }
}

@media (min-width: 400px) and (max-width: 469px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 32% !important;
    bottom: 6% !important;
  }
}

@media (max-width: 399px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 28% !important;
    bottom: 6% !important;
  }
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #00dc5a !important;
  width: 14px !important;
}

.movie-slider {
  position: static !important;
}

.movie-slider .swiper-button-next {
  top: 38px;
  right: 5%;
}

.movie-slider .swiper-button-prev {
  top: 38px;
  left: 91%;
}

@media (min-width: 1024px) {
  .movie-slider .swiper-button-prev {
    top: 38px;
    left: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .movie-slider .swiper-button-next {
    top: 38px;
    right: 4%;
  }

  .movie-slider .swiper-button-prev {
    top: 38px;
    left: 89%;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .movie-slider .swiper-button-next {
    top: 38px;
    right: 4%;
  }

  .movie-slider .swiper-button-prev {
    top: 38px;
    left: 88%;
  }
}

@media (min-width: 590px) and (max-width: 639px) {
  .movie-slider .swiper-button-next {
    top: 38px;
    right: 4%;
  }

  .movie-slider .swiper-button-prev {
    top: 38px;
    left: 87%;
  }
}

@media (min-width: 400px) and (max-width: 589px) {
  .movie-slider .swiper-button-next {
    top: 38px;
    right: 3%;
  }

  .movie-slider .swiper-button-prev {
    top: 38px;
    left: 86%;
  }
}

@media (min-width: 320px) and (max-width: 399px) {
  .movie-slider .swiper-button-next {
    top: 38px;
    right: 3%;
  }

  .movie-slider .swiper-button-prev {
    top: 38px;
    left: 82%;
  }
}

.movie-slider .swiper-button-next:after,
.movie-slider .swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 700 !important;
}
